BOT_TOKEN = 'YOUR_TOKEN_BOT'
ADMINS = ['ID_TOKENS']
CHANNEL_ID = 'ID_канала для подписки'
DEV_CHECK = "True" # Если True, то бот будет работать в режиме разработчика, то есть при запуске через файл app