BOT_TOKEN = 'YOUR_TOKEN_BOT'
ADMINS = ['ID_TOKENS']
CHANNEL_ID = 'ID_канала для подписки'
DEV_CHECK = "True" # Если True, то бот будет работать в режиме разработчика, то есть при запуске через файл app

# Очередь задач
REDIS_URL=redis://redis:6379/0 # где работает редис
QR_STREAM_KEY=qr:jobs # Группа для воркера